@use "../../../Style/" as *;
.mainSearch {
  @include main-display-column;
  .input {
    @include main-display-row;
    justify-content: flex-end;

    .inputSide {
      border: 1px solid #204080;
      border-radius: 8px;
      margin-right: 11px;

      height: 48px;
      width: 646px;
      @include main-display-row;

      & > input {
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        margin-left: 15px;
      }
      &:hover {
        border: 2px solid rgba(72, 72, 72, 0.6);
      }
      .inputClass {
        width: 100%;
        height: max-content;
        border: none;

        &:focus {
          outline: none;
        }
      }
      .iconside {
        display: flex;
        align-items: center;
      }
    }
    .searchButton {
      @include search-button;
      background-color: $button-color;
      font-family: $text-font;
      cursor: pointer;
      &:hover {
        background-color: $button-hover-color;
      }
    }
  }
  .searchResults {
    width: 717.84px;
    height: 248.25px;
    border: 1px solid #484848;
    border-radius: 24px;
    margin-top: 16px;
    @include main-display-column;
    justify-content: space-around;
    .results {
      @include main-display-row;

      .result {
        @include main-display-column;
        align-items: flex-start;
        width: 666px;
        height: 63px;
        margin-bottom: 2px;

        @include search;
        margin-left: 15px;
        & > span {
          font-family: $main-font;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
        }
        & > p {
          font-family: $main-font;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #72777a;
        }
      }
    }
    .mainSearchList {
      @include main-display-row;
      justify-content: center;
      font-family: $main-font;
      text-decoration: none;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: $title-color;
    }
  }
}
@media (min-width: 1024px) and (max-width: 1300px) {
  .mainSearch {
    width: 85%;
    .input {
      display: flex;
      width: 85%;
      .searchSide {
        .addNewRecord {
          & > a {
            padding: 11px 4px 15px 2px;
          }
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1023.9px) {
  .mainSearch {
    .input {
      display: flex;
      .searchSide {
        .addNewRecord {
          & > a {
            padding: 11px 4px 15px 2px;
          }
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .mainSearch {
    width: 85%;
    .input {
      display: flex;
      width: 100%;
      .searchSide {
        .searchInput {
          & > input {
            width: 100%;
          }
        }
        .searchButton {
          & > button {
            width: 80px;
          }
        }
        .addNewRecord {
          & > a {
            padding: 11px 4px 15px 2px;
          }
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .mainSearch {
    width: 85%;
    .input {
      display: flex;
      width: 100%;
      .searchSide {
        .searchInput {
          & > input {
            width: 100%;
          }
        }
        .searchButton {
          & > button {
            width: 80px;
          }
        }
        .addNewRecord {
          & > a {
            padding: 11px 4px 15px 2px;
          }
        }
      }
    }
    .searchResults {
      display: flex;
      width: 100%;
      .results {
        width: 100%;
      }
    }
  }
}
@media (min-width: 414px) and (max-width: 575.9px) {
  .mainSearch {
    width: 95%;
    .input {
      display: flex;
      width: 100%;
      .searchSide {
        .searchInput {
          & > input {
            width: 100%;
          }
        }
        .searchButton {
          & > button {
            width: 80px;
          }
        }
        .addNewRecord {
          & > a {
            padding: 11px 4px 15px 2px;
          }
        }
      }
    }
    .searchResults {
      display: flex;
      width: 100%;
      .results {
        width: 100%;
      }
    }
  }
}
@media (min-width: 390px) and (max-width: 413.9px) {
  .mainSearch {
    width: 95%;
    .input {
      display: flex;
      width: 100%;
      .searchSide {
        .searchInput {
          & > input {
            width: 100%;
          }
        }
        .searchButton {
          & > button {
            width: 80px;
          }
        }
        .addNewRecord {
          & > a {
            padding: 11px 4px 15px 2px;
          }
        }
      }
    }
    .searchResults {
      display: flex;
      width: 100%;
      .results {
        width: 100%;
      }
    }
  }
}
@media (min-width: 310px) and (max-width: 389.9px) {
  .mainSearch {
    width: 95%;
    .input {
      display: flex;
      width: 100%;
      .searchSide {
        .searchInput {
          & > input {
            width: 100%;
          }
        }
        .searchButton {
          & > button {
            width: 80px;
          }
        }
        .addNewRecord {
          & > a {
            padding: 11px 4px 15px 2px;
          }
        }
      }
    }
    .searchResults {
      display: flex;
      width: 100%;
      .results {
        width: 100%;
      }
    }
  }
}
@media (min-width: 210px) and (max-width: 309.9px) {
  .mainSearch {
    width: 95%;
    .input {
      display: flex;
      width: 100%;
      .searchSide {
        .searchInput {
          & > input {
            width: 100%;
          }
        }
        .searchButton {
          & > button {
            width: 80px;
          }
        }
        .addNewRecord {
          & > a {
            padding: 11px 4px 15px 2px;
          }
        }
      }
    }
    .searchResults {
      display: flex;
      width: 100%;
      .results {
        width: 100%;
      }
    }
  }
}
